@CHARSET "UTF-8";

@font-face {
    font-family: 'HelveticaNeueLTStd57Condensed';
    src: url('helveticaneueltstd-cn-webfont.eot');
    src: url('helveticaneueltstd-cn-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneueltstd-cn-webfont.woff') format('woff'),
         url('helveticaneueltstd-cn-webfont.ttf') format('truetype'),
         url('helveticaneueltstd-cn-webfont.svg#HelveticaNeueLTStd57Condensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

html{
	overflow-y: scroll;
}

body, td {
	font-family: Helvetica, Arial;
	font-size: 11px;
	background: #f8f9fa;
}

.section,
.region-content{
	overflow: hidden;
}

h1,h2,h3,h4,h5 {
	font-family: Helvetica, Arial;
	font-weight: bold;
}
h1 {
	font-size: 26px;
	margin-top: 30px;
	margin-bottom: 15px;
}
h2 {
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 5px;
}
h3 {
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.field-name-field-image{

}

h1#page-title {
	max-width: 500px;
	padding: 20px;
	display: inline-block;
	background: url('../images/page/white-trans.png') top left;
	position: absolute;
	top: 150px;
	left: 30px;
	z-index: 60;
	color: #000;
	font-family: HelveticaNeueLTStd57Condensed, Helvetica, Arial;
}

.product-page h1#page-title {
	top: 230px;
}

.wide-page h1#page-title {
	position: static;
	color: black;
	font-size: 26px;
	margin-top: 30px;
	margin-bottom: 15px;
}

a {
	color: #000000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: #000000
}
b, strong {
font-weight: bolder;
}

#page-wrapper .content .field-name-body .field-item {
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
	margin-bottom: 20px;
}
#page-wrapper .single-column .content .field-name-body .field-item {
	-moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;
}
.content .field-name-body .field-item table {
	width: 100%;
}
#page-wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 940px;
	font-family: Helvetica, Arial, Verdana;
	font-size: 14px;
	line-height: 20px;
	color: black;
}
#main-wrapper .content .links {
	display:none;
}
#header {
	margin-bottom: 1px;
}
#page-title {

}
#page-wrapper #main-wrapper #main #content {
	margin: 0;
	min-height: 400px;
	width: 940px;
}

.big-img{
	border: 1px solid #000;
	overflow: hidden;
}

/* Produktsida */
#page-wrapper #main-wrapper .content .node-product .group-header{
	margin-bottom: 20px;
}

#page-wrapper #main-wrapper .content .node-product .group-left h2{
	margin-top: 0;
}

#page-wrapper #main-wrapper .content .node-product .field-type-text-with-summary,
#page-wrapper #main-wrapper .content .node-product .field-name-field-header{
	position: relative;
	height: inherit;
	width: 520px;
	float: left;
}

#page-wrapper #main-wrapper .content .node-product .field-name-field-header{
	font: bold 20px 'helvetica', 'sans-serif';
}

#page-wrapper #main-wrapper .content .node-product .field-name-field-spec table{
	margin: 0 auto;
}

	#page-wrapper #main-wrapper .content .node-product .field-name-field-spec td{
		background: #fff;
		padding: 5px 15px 5px 0;
		border-bottom: 1px solid #e2e2e2;
	}

#page-wrapper #main-wrapper .content .node-product .field-name-field-spec,
#page-wrapper #main-wrapper .content .node-product .field-name-field-file,
#page-wrapper #main-wrapper .content .node-product .field-name-field-image-extra{
	width: 380px;
	background: #fff;
	float: right;
}

	#page-wrapper #main-wrapper .content .node-product .field-name-field-spec h2,
	#page-wrapper #main-wrapper .content .node-product .field-name-field-file h2,
	#page-wrapper #main-wrapper .content .node-product .field-name-field-image-extra h2{
		padding: 15px 10px;
		margin: 0;
		background: #e3e4e5 url('../images/page/product-open-btn.png') 97% 15px no-repeat;
		border-bottom: 1px solid #c6c6c6;
		font: normal 16px 'helvetica', 'sans-serif';
		cursor: pointer;
	}

	#page-wrapper #main-wrapper .content .node-product .field-name-field-spec h2.active,
	#page-wrapper #main-wrapper .content .node-product .field-name-field-file h2.active,
	#page-wrapper #main-wrapper .content .node-product .field-name-field-image-extra h2.active{
		background: #b2be3e url('../images/page/product-close-btn.png') 97% 15px no-repeat;
		color: #fff;
	}


	#page-wrapper #main-wrapper .content .node-product .field-name-field-spec .field-items,
	#page-wrapper #main-wrapper .content .node-product .field-name-field-file .field-items,
	#page-wrapper #main-wrapper .content .node-product .field-name-field-image-extra .field-items{
		display: none;
	}


/* Specifications */
#page-wrapper #main-wrapper .content .node-product .field-name-field-spec .field-items{
	padding: 0 20px 20px;
}

/* Files */
#page-wrapper #main-wrapper .content .field-name-field-file .field-items ul{
	padding: 0;
}

	#page-wrapper #main-wrapper .content .field-name-field-file .field-items ul li {
		display: block;
		list-style: none;
		float: none;
		border-bottom: 1px solid #e2e2e2;
	}

		#page-wrapper #main-wrapper .content .field-name-field-file .field-items ul li a {
			display: block;
			color: black;
			text-decoration: none;
			background: url(../images/page/pdf-icon.png) 10px 13px no-repeat;
			padding: 15px 0 15px 50px;
			font: normal 12px 'helvetica', 'sans-serif';
		}


/* Images */
#page-wrapper #main-wrapper .content .node-product .field-name-field-image-extra .field-items {
	overflow: hidden;
	margin-top: 10px;
}

#page-wrapper #main-wrapper .content .node-product .field-name-field-image-extra .field-item{
	width: 60px;
	height: 50px;
	float: left;
	outline: 1px solid #ccc;
	overflow: hidden;
	margin: 0 0 10px 13px;
}
/* END Produktsida */


/* Bildspel  */
.image-gallery {
	position: relative;
	height: 300px;
	width: 940px;
	overflow:hidden;
}
.frontpage .image-gallery {
	height: 360px;
}
.product-page .image-gallery {
	height: 430px;
}
.image-gallery .field-item  {
	position: absolute;
	top: 0; left: 0;
	z-index: 29;
}
.image-gallery .field-item:first-child  {
	z-index: 30;
}
.image-raster  {
	position: absolute;
	right: 0;
	bottom: -1px;
	background: url(../images/page/image-raster.png) bottom left no-repeat;
	z-index: 50;
	width: 180px;
	height: 83px;
}
.image-raster a {
	position: absolute;
	width: 40px;
	height: 40px;
	line-height: 40px;
	z-index: 51;
}
.image-raster a:hover {
	cursor: pointer;
}
.image-raster a.prev {
	height: 44px;
	width: 44px;
	right: 44px;
	bottom: 1px;
	background: url(../images/page/next-prev.jpg) 0 0 no-repeat;
}

	.image-raster a.prev:hover{
		background: url(../images/page/next-prev.jpg) 0 -44px no-repeat;
	}

.image-raster a.next {
	height: 44px;
	width: 44px;
	right: 0;
	bottom: 1px;
	background: url(../images/page/next-prev.jpg) -44px -44px no-repeat;
}

	.image-raster a.next:hover{
		background: url(../images/page/next-prev.jpg) -44px 0 no-repeat;
	}

/* END Bildspel */

/* HEADER */
#header{
	padding: 0;
	background-color: #e3e4e5;
	overflow: hidden;
}

#header .block{
	margin-bottom: 0;
}



/* Navigation */
.block-menu-block .content ul li{
	list-style: none;
}

#block-menu-block-1{
	height: 66px;
	overflow: hidden;
	float: left;
	display: inline-block;
	margin: 0;
}

 #block-menu-block-1 .content a {
	height: 41px;
	display: inline-block;
	padding: 25px 17px 0;
	border-right: 1px solid #fff;
	font: normal 16px 'HelveticaNeueLTStd57Condensed', 'myriad pro', 'helvetica', 'arial', 'sans-serif';
	color: #000;
}

		#block-menu-block-1 .content a:hover{
			text-decoration: none;
		}

		#block-menu-block-1 li.active a,
		#block-menu-block-1 li.active-trail a{
			height: 42px;
			color: #fff;
			background: #b2be3e;
			border-bottom: 1px solid #b2be3e;
		}

		#block-menu-block-1 .content li.last a {
			border-right: 0;
		}


	 #block-menu-block-2{
		height: 35px;
		clear: both;
		overflow: hidden;
		background: #b2be3e;
		margin: 0;
		padding: 13px 0 0 0;
	}

		 #block-menu-block-2 .content a{
			height: 24px;
			padding: 0 20px;
			border-left: 1px solid #cad746;
			display: table-cell;
			vertical-align: middle;
			color: #fff;
			font: normal 14px 'HelveticaNeueLTStd57Condensed', 'myriad pro', 'helvetica', 'arial', 'sans-serif';
			letter-spacing: 1px;
		}

		#block-menu-block-2 li.active a{
			color: #20220b;
		}

		 #block-menu-block-2 li.first a{
			border-left: none;
		}

/* END Navigation */

/* Language module */
#block-locale-language{
	width: 74px;
	height: 51px;
	padding-top: 15px;
	overflow: hidden;
	float: right;
	border-right: 1px solid #fff;
}
	#block-locale-language .content ul li{
		width: 100%;
		display: block;
	}

		#block-locale-language .content ul li a{
			width: 100%;
			height: 14px;
			margin-bottom: 5px;
			display: block;
			text-align: center;
			text-indent: -5000px;
		}

		#block-locale-language .content ul li.sv a{
			background: url('../images/page/flag-sv.png') top center no-repeat;
		}

		#block-locale-language .content ul li.en a{
			background: url('../images/page/flag-en.png') top center no-repeat;
		}
		#block-locale-language .content ul li span.locale-untranslated {
			display: none;
		}

/* Search form */
#header #block-block-4{
	width: 74px;
	height: 66px;
	overflow: hidden;
	float: right;
	background: url(../images/page/search-icon.png) center center no-repeat;
	cursor: pointer;
}

	#header #block-block-4.active{
		background: #b2be3e url(../images/page/search-icon.png) center center no-repeat;
	}

	#header #block-block-4 .content{
		display: none;
	}

#header #block-search-form {
	display: none;
	overflow: hidden;
	clear: both;
	background: #b2be3e;
	overflow: hidden;
	margin: 0;
}

	#header #block-search-form .content{
		width: 910px;
		border-bottom: 1px solid #cad746;
		margin: 15px 15px 0 15px;
		padding-bottom: 15px;
		overflow: hidden;
	}

	#header #block-search-form .content form {
		display: block;
		float: right;
	}

#header #block-search-form .content form #edit-submit,
#header #block-search-form .content form #edit-submit--2{
	width: 24px;
	height: 24px;
	background: url('../images/page/search-btn.jpg') top left no-repeat;
	text-indent: -5000px;
	border: none;
	outline: none;
}

#header #block-search-form .content form #edit-search-block-form--2{
	width: 160px;
	height: 10px;
	padding: 6px;
	border: 1px solid #a0aa38;
	color: #8c8c8c;
	outline: none;
}



/* Nyheter på Startsidan */
#main-wrapper #block-views-aktuellt-block,
#main-wrapper #block-views-aktuellt-block-2 {
	width: 960px;
	padding: 0;
	margin: 0 0 30px -20px;
	overflow: hidden;
}
	#main-wrapper #block-views-aktuellt-block .content ul,
	#main-wrapper #block-views-aktuellt-block-2 .content ul {
		list-style: none;
		margin: 0;
		padding:0;
	}
		#main-wrapper #block-views-aktuellt-block .content ul li,
		#main-wrapper #block-views-aktuellt-block-2 .content ul li {
			position: relative;
			float: left;
			width: 300px;
			overflow: hidden;
			background: #fff;
			border-bottom: 1px solid #dddddd;
			height: auto;
			min-height: 300px;
			margin: 0 0 0 20px;
			padding: 0 0 70px 0;
		}

		#main-wrapper #block-views-aktuellt-block .content ul li .views-field-body,
		#main-wrapper #block-views-aktuellt-block-2 .content ul li .views-field-body{
			padding: 0 20px;
		}

			#main-wrapper #block-views-aktuellt-block .content ul li .views-field-body h2,
			#main-wrapper #block-views-aktuellt-block-2 .content ul li .views-field-body h2{
				display: none;
			}

		#main-wrapper #block-views-aktuellt-block .content ul li.views-row-3,
		#main-wrapper #block-views-aktuellt-block-2 .content ul li.views-row-3 {
			padding-right: 0;
		}
		#main-wrapper #block-views-aktuellt-block .content ul li .views-field-field-header,
		#main-wrapper #block-views-aktuellt-block-2 .content ul li .views-field-field-header{
			padding: 0 20px;
		}
		#main-wrapper #block-views-aktuellt-block .content ul li h2,
		#main-wrapper #block-views-aktuellt-block-2 .content ul li h2 {
			padding: 0;
			margin: 20px 0 10px 0;
			font-size: 20px;
			font-weight: normal;
			line-height: 1.3;
		}
		#main-wrapper #block-views-aktuellt-block .content ul li h2 a,
		#main-wrapper #block-views-aktuellt-block-2 .content ul li h2 a {
			color: black;
			font-weight: normal;
			font-size: 20px;
			text-decoration: none;
			line-height: 25px;
		}

		#main-wrapper .content ul li .views-field-view-node a {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 7px 12px;
			background: #e3e4e5;
			border-bottom: 1px solid #c6c6c7;
			display: inline-block;
			margin: 20px 0 20px 20px;
			font: bold 14px 'HelveticaNeueLTStd57Condensed',  Helvetica, Arial;
		}

			#main-wrapper .content ul li .views-field-view-node a:hover{
				text-decoration: none;
				border-bottom: 1px solid #9ba536;
				color: #fff;
				background: #b2be3e;
			}
/* END Nyheter på Startsidan */

/* Footer */
#footer {
	padding-top: 50px;
	background: url(../images/page/bott.png) top center no-repeat;
	text-transform: uppercase;
}
#footer div.region-footer #block-block-1 {
	float: right;
	text-align: right;
}

#footer p,
#footer span,
#footer a {
	color: #666666;
	font-size: 10px;
	font-family: 'HelveticaNeueLTStd57Condensed',  Helvetica, Arial;
}
#footer .breadcrumbs {
	list-style: none;
	margin: 0;
	padding: 0 0 0 1px;
	float: left;
}
#footer .breadcrumbs li {
	float: left;
	padding: 0 4px 0 0;
}

#footer .breadcrumbs a {
	background: url(../images/page/sep.png) no-repeat 100% 1px;
	padding: 0 6px 0 0;
	float: left;
}

#footer .breadcrumbs a:hover {
	text-decoration: none;
}
#footer #block-system-powered-by {
	position: relative;
	top: 30px;
	text-align: center;
}
#footer-icons {
	clear: both;
	height: 30px;
	line-height: 30px;
	text-align: right;
}

#footer-icons a.icon {
	width: 50px;
	height: 25px;
	float: right;
	display: block;
	text-indent: -5000px;
}
#footer-icons a.feed-icon {
	background: url(/misc/feed.png) center center no-repeat;
}
#footer-icons a.tco-icon {
	background: url(../images/page/tco.png) center center no-repeat;
}
#footer-icons a.svanen-icon {
	background: url(../images/page/svanen.png) center center no-repeat;
}
/* END Footer */

	#header ul{
		list-style: none;
		padding: 0;
		margin: 0;
		overflow: hidden;
	}

		#header ul.menu{
			display: block;
		}

			 ul li{
				float: left;
			}

/* FLAG Positions */
#logo {
	width: 145px;
	height: 66px;
	border-right: 1px solid #fff;
	position: relative;
	z-index: 10;
	cursor: pointer;
	float: left;
}

#header .region {
	position: relative;
}
#header .region #block-locale-language .content li a,
#header .region #block-locale-language .content li span {
	text-indent: -5000px;
	display: block;
	height: 11px;
	width: 16px;
	margin: 3px;
}
#header .region #block-locale-language .content li.sv a {
	background: url(../images/page/flag-sv.png) center center no-repeat;
}
#header .region #block-locale-language .content li.en a {
	background: url(../images/page/flag-en.png) center center no-repeat;
}
#header .region #block-locale-language .content li.sv span.locale-untranslated {
	background: url(../images/page/flag-sv-disabled.png) center center no-repeat;
}
#header .region #block-locale-language .content li.en span.locale-untranslated {
	background: url(../images/page/flag-en-disabled.png) center center no-repeat;
}
#header .region #block-block-2,
#header .region #block-block-3 {
	position: absolute;
	right: 0;
	top: 0px;
	background: white url(../images/sline-phone.png) 6px center no-repeat;
	display: block;
	height: 24px;
	width: 176px;
	padding: 8px 10px 0 0;
	text-align: right;
}
#header .region #block-block-3 {
	width: 179px;
	padding-right: 7px;
}
#header .region #block-block-2 .content ,
#header .region #block-block-3 .content ,
#header .region #block-block-2 .content p,
#header .region #block-block-3 .content p {
	font-size: 16px;
	font-family: HelveticaNeueLTStd57Condensed, Helvetica, Arial;
}

/* END FLAG position */



/*Drupal Editor links redesigned */
#editorLinks {
	z-index:120;
	position:fixed;
	right: 6px;
	top: 105px;
	width: 150px;
}
#editorLinks ul.primary {
	list-style: none;
	text-align: center;
	border: 0px;
	background-image: none;

}
#editorLinks ul.primary li {
	display: block;
}
#editorLinks ul.primary li a {
	border: 1px solid gray;
	border-bottom: 0px;
	padding: 10px;
	display:block;
	-moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
	moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
	background-image: none;
	background-color: #eeeeee;
	width: 80px;
	height: 20px;
	line-height: 20px;
}
#editorLinks ul.primary li:first-child a {
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
#editorLinks ul.primary li:last-child a {
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom: 1px solid gray;

}
#editorLinks ul.primary li a span {
	background-image: none;
	background-color: #eeeeee;
	padding: 0; margin: 0;
}
#editorLinks ul.primary li a:hover,
#editorLinks ul.primary li a:hover span {
	background-color: #cccccc;
}
/* END Drupal Editor links redesigned */

/* Drupal aktuellt lista */
#block-views-aktuellt-block-1 h1.title {
	margin: 20px 0 10px 0;
}
#block-views-aktuellt-block-1 .content  h2 {
	margin: 10px 0 15px 0;
}
#block-views-aktuellt-block-1 .content .field-name-body .field-item {
	-moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;
	margin-bottom: 20px;
}
#block-views-aktuellt-block-1 .content .field-name-field-image {
	float: left;
	padding: 0 20px 20px 0;
}
/* END Drupal aktuellt lista */


table.views-view-grid {
	width: 100%;
}
table.views-view-grid div.views-field-field-photo {
	float: left;
	padding: 0 10px 10px 0;
}

#main-wrapper .content ul {
	list-style-type: disc;
	padding: 10px 0px 10px 15px;
}

#main-wrapper .content ul li {	list-style-type: disc;
	padding: 0px 0px 5px 0px;

}

.page-node-33 .view-content {
	line-height: 12px;
}


/* Slider startsidan */
#main-wrapper.frontpage #block-system-main,
#main-wrapper.frontpage h1{
	display: none;
}

#block-views-tumnaglar-startsidan-block .view-tumnaglar-startsidan{
	position: relative;
	z-index: 1;
	width: 940px;
	height: 360px;
	margin-bottom: 20px;
	overflow: hidden;
}

	#block-views-tumnaglar-startsidan-block .view-tumnaglar-startsidan .views-field-field-image-1{
		position: absolute;
		width: 940px;
		height: 360px;
		z-index: 1;
		overflow: hidden;
		top: 0;
		left: 0;
		display: none;
	}

		#block-views-tumnaglar-startsidan-block .view-tumnaglar-startsidan .views-row-1 .views-field-field-image-1{
			display: block;
		}

		#block-views-tumnaglar-startsidan-block .view-tumnaglar-startsidan .views-field-field-image-1 .big-img-text h2 {
			max-width: 520px;
			padding: 20px;
			display: inline-block;
			background: url('../images/page/white-trans.png') top left;
			position: absolute;
			bottom: 30px;
			left: 30px;
			z-index: 60;
			color: #000;
			font: normal 35px 'HelveticaNeueLTStd57Condensed', Helvetica, Arial 'sans-serif';
		}

#block-views-tumnaglar-startsidan-block .view-tumnaglar-startsidan .views-field-field-image{
	width: 134px;
	height: 88px;
	position: absolute;
	bottom: -200px;
	right: 0;
	z-index: 2;
	cursor: pointer;
	border: 1px solid #fff;
	background: #000;
}


	#block-views-tumnaglar-startsidan-block .view-tumnaglar-startsidan .views-field-field-image img{
		opacity: .5;
	}

	#block-views-tumnaglar-startsidan-block .view-tumnaglar-startsidan .views-field-field-image.active img{
		opacity: 1;
	}


	#block-views-tumnaglar-startsidan-block .view-tumnaglar-startsidan .views-field-field-image img{
		height: 88px;
	}

		#block-views-tumnaglar-startsidan-block .view-tumnaglar-startsidan .views-field-field-image .big-img-text{
			min-width: 450px;
			text-align: right;
			position: absolute;
			top: 35%;
			right: 90%;
			font: normal 14px 'HelveticaNeueLTStd57Condensed', Helvetica, Arial 'sans-serif';
			display: none;
			z-index: 3;
		}

		#block-views-tumnaglar-startsidan-block .view-tumnaglar-startsidan .views-field-field-image .big-img-text p{
			background: #fff;
			padding: 8px 10px;
			height: 16px;
			display: inline-block;
			font-size: 14px;
			border: 1px solid #e3e4e5;
			border-right: none;
		}

		#block-views-tumnaglar-startsidan-block .view-tumnaglar-startsidan .views-field-field-image .big-img-text .arrow{
			width: 8px;
			height: 16px;
			position: absolute;
			right: -8px;
			top: 28%;
			background: url('../images/popup-arrow.png') top left no-repeat;
		}

		#block-views-tumnaglar-startsidan-block .view-tumnaglar-startsidan .views-field-field-image:hover .big-img-text{
			display: block;
		}

#block-views-tumnaglar-startsidan-block .view-tumnaglar-startsidan .views-row-1 .views-field-field-image{
	bottom: 225px;
}

#block-views-tumnaglar-startsidan-block .view-tumnaglar-startsidan .views-row-2 .views-field-field-image{
	bottom: 135px;
}

#block-views-tumnaglar-startsidan-block .view-tumnaglar-startsidan .views-row-3 .views-field-field-image{
	bottom: 45px;
}


#block-views-tumnaglar-startsidan-block .view-tumnaglar-startsidan .index-slider-nav{
	position: absolute;
	bottom: 0;
	right: 0;
	height: 45px;
	width: 181px;
	z-index: 3;
	cursor: pointer;
	background: url('../images/page/image-raster.png') top left no-repeat;
}

	#block-views-tumnaglar-startsidan-block .view-tumnaglar-startsidan .index-slider-nav .prev{
		position: absolute;
		bottom: 0;
		right: 44px;
		height: 44px;
		width: 45px;
		background: url('../images/page/next-prev.jpg') 0 0 no-repeat;
	}

		#block-views-tumnaglar-startsidan-block .view-tumnaglar-startsidan .index-slider-nav .prev:hover{
			background: url('../images/page/next-prev.jpg') 0 -44px no-repeat;
		}

	#block-views-tumnaglar-startsidan-block .view-tumnaglar-startsidan .index-slider-nav .next{
		position: absolute;
		bottom: 0;
		right: 0;
		height: 44px;
		width: 45px;
		background: url('../images/page/next-prev.jpg') -44px -44px no-repeat;
	}

		#block-views-tumnaglar-startsidan-block .view-tumnaglar-startsidan .index-slider-nav .next:hover{
			background: url('../images/page/next-prev.jpg') -44px 0 no-repeat;
		}

/* Search page */
.page-search h2{
	float: left;
	padding-left: 20px;
	margin-top: 40px;
}
.search-form{
	float: left;
	width: 400px;
	min-height: 400px;
	border-right: 1px solid #ccc;
	margin-top: 30px;
}

.search-results{
	width: 500px;
	float: left;
	margin: 0 auto;
	padding-left: 20px;
}

.search-results li h3 {
	font: normal 20px 'HelveticaNeueLTStd57Condensed', Helvetica, Arial 'sans-serif';
}

.search-results li{
	padding: 20px 0;
	border-bottom: 1px solid #ccc;
}


.page-search #content .content ul{
	width: 400px;
	float: left;
	list-style-type: none;
	margin: 0 0 0 10px;
}

.page-search #content .content ul li{
	list-style: none !important;
}

/* Återförsäljare */
#main-wrapper .view--terf-rs-ljare .item-list {
	overflow: hidden;
	margin-bottom: 20px;
}
#main-wrapper .view--terf-rs-ljare .item-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

}
#main-wrapper .view--terf-rs-ljare .item-list ul li {
    list-style-type: none;
    width: 33%;
}
#main-wrapper .view--terf-rs-ljare .item-list h3 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
}
#main-wrapper .view--terf-rs-ljare .item-list ul li h4 {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
}


/**
 * headern
 */
#block-block-5 {
    float: right;
    width: 60px;
	padding-top: 15px;
}
#block-block-5 h2.block-title {
    font-size: 12px;
	margin: 0;
	padding: 0;
}
#block-block-5 .content {
	padding: 0;
	margin: 0;
}
#block-block-5 .content p {
	font-size: 10px;
	padding: 0;
	margin: 0;
	line-height: normal;
}
.i18n-en #block-block-5 {
    width: 75px;
}


